version: '3.8'

services:

  busybox:
    image: busybox:latest
    command: >
      sh -c " while true; do
        echo 'Waiting for secrets to be available...'
        if [ -f /run/secrets/mysql_root_password ] && [ -f /run/secrets/mysql_password ]; then
        echo 'Secrets are available!'
        cat /run/secrets/mysql_root_password
        echo '\n'
        cat /run/secrets/mysql_password
        fi
        sleep 5
      done "
    secrets:
      - mysql_root_password
      - mysql_password
    networks:
      - app-network
    deploy:
      replicas: 3
      placement:
        constraints:
          - "node.role == ${snitch_role?}"

secrets:
  mysql_root_password:
    # external: true
    # name: mysql_root_password


    driver: swarm-external-secrets:latest
    labels:
      #   vault_path: "database/mysql"
      #   vault_field: "root_password"

      # openbao_path: "database/mysql"
      # openbao_field: "root_password"

      # aws_secret_name: "secret/database/mysql"
      # aws_field: "root_password"

      # azure_secret_name: "https://sanjaykv2.vault.azure.net/"
      # azure_field: "rootpassword"
      # azure_secret_name: "rootpassword"

      gcp_secret_name: "projects/graphic-transit-458312-f7/secrets/mysql-root-password"
      gcp_field: "root_password"

  mysql_password:
    # external: true
    # name: mysql_password


    driver: swarm-external-secrets:latest
    labels:
    #   vault_path: "database/mysql"
    #   vault_field: "user_password"
      #   vault_path: "database/mysql"
      #   vault_field: "user_password"

      # openbao_path: "database/mysql"
      # openbao_field: "user_password"

      # aws_secret_name: "secret/database/mysql"
      # aws_field: "user_password"

      # azure_secret_name: "https://sanjaykv2.vault.azure.net/"
      # azure_secret_name: "userpassword"
      # azure_field: "userpassword"

      gcp_secret_name: "projects/graphic-transit-458312-f7/secrets/mysql-user-password"
      gcp_field: "user_password"
volumes:
  mysql-data:
    driver: local

networks:
  app-network:
    driver: overlay
