# Run specified actions or jobs for issue and PR comments

name: "Prow github actions"
on:
  issue_comment:
    types: [created]

permissions: read-all

jobs:
  prow-execute:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: jpmcb/prow-github-actions@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          prow-commands: "/assign
            /unassign
            /approve
            /retitle
            /area
            /kind
            /priority
            /remove
            /lgtm
            /close
            /reopen
            /lock
            /unlock
            /milestone
            /hold
            /cc
            /uncc"
